#scrollTop{
    position: fixed;
    bottom: 5px;
    right: 5px;
    fill: var(--darkPink);
    width: 5%;
    cursor: pointer;
    transition: .3s;
    background: var(--midPink);
    box-shadow: 5px 5px 5px var(--darkPinkShadow);
    border-radius: 50px;
    padding: 15px 17px;
    z-index: 100;
    display: none;

    &:hover{
        fill: var(--lightPink);
        opacity: 1;
    }    
}