.title{
    font-family: 'ZoomLaChuHei';
    color: var(--darkPink);
    font-size: 30px;
    text-align: left;

    @media (max-width: 768px) {
        font-size: 25px;
    }
}

.itemRight{
    transition: .3s;

    &.itemRight:hover .imgDiv>.itemImg{
        opacity: 1;
    }

    &>.infoDiv{
        background: var(--lightPink);
        z-index: 20;
        padding: 20px;
    }

    &>.infoDiv>a{
        opacity: 0;
        text-shadow: 0px 0px 0px var(--darkPinkShadow);
        transition: .3s;
    }

    &.itemRight:hover .infoDiv>a{
        opacity: 1;
        text-shadow: 5px 5px 5px var(--darkPinkShadow);
    }
}

.itemImg{
    opacity: .8;
    transition: .3s;

    &:hover, &.itemRight:hover{
        opacity: 1;
    }
}