#header{
    background-color: var(--lightPink);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.logoDiv{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    @media (max-width: 768px) {
        height: 100vh;
    }
  
    .logo-en{
      position: absolute;
      font-family: "CountrySide";
      font-size: 100px;
      color: var(--darkPink);
      z-index: 10;
      text-shadow: 5px 5px 5px var(--darkPinkShadow);
      transition: .3s;
      @media (max-width: 768px) {
        font-size: 50px;
      }
    }
    
    .logo-zh{
      position: absolute;
      font-family: "FZ Xiaozhuan";
      font-size: 200px;
      opacity: .5;
      color: var(--darkPinkShadow);
      transition: .3s;
      @media (max-width: 768px) {
        font-size: 100px;
      }
    }
}