.title{
    font-family: 'ZoomLaChuHei';
    color: var(--darkPink);
    font-size: 100px;
    text-align: left;

    @media (max-width: 768px) {
        font-size: 30px;
    }
    @media (max-width: 300px) {
        font-size: 20px;
    }
}

.itemLeft{
    transition: .3s;
    width: 100vw;

    &.itemLeft:hover .imgDiv>.itemImg{
        opacity: 1;
        transform: scale(2);
    }

    &>.infoDiv{
        z-index: 20;
        padding: 20px;
    }

    &>.infoDiv>a{
        opacity: 0;
        text-shadow: 0px 0px 0px var(--darkPinkShadow);
        transition: .3s;
        @media (max-width: 768px) {
            opacity: 1;
        }
    }

    &.itemLeft:hover .infoDiv>a{
        opacity: 1;
        text-shadow: 5px 5px 5px var(--darkPinkShadow);
    }
}

.itemImg{
    opacity: .8;
    transition: .3s;
    width: 30vw;

    &:hover, &.itemLeft:hover{
        opacity: 1;
    }
}